<body class="text-center">
    <main class="form-signin">
      <form [formGroup]="refreshForm">
       
        <h1 class="h3 mb-3 fw-normal">Şifreyi Yenile</h1>
  
        <div class="form-floating">
          <input
            formControlName="password"
            type="password"
            class="form-control"
            id="floatingInput"
            placeholder=""
          />
          <label for="floatingInput">Şifre</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary"   (click)=passwordRefresh()> 
          Yenile
        </button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
      </form>
    </main>
  </body>
  