<div class="container">

  <div class="row">
            
   <div class="col-md-3"><app-category></app-category></div>
    <div class="col-md-9">
      <div *ngIf="dataLoaded==false" class="spinner-border text-success" role="status">
  <span class="visually-hidden">Loading...</span>
</div>


<table  class="row-border hover" id="example" #dTable >
    <thead>
      <tr>
        <th>Id</th>
        <th>Ürün adı</th>
        <th>Kategori</th>
        <th>Fiyat</th>
        <th>Stok</th>
        <th><button  (click)="openDialogg()"
          type="button" class="btn btn-success">Ürün Ekle</button></th>
      </tr>
    </thead>
    <tbody *ngIf="products?.length != 0">
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.categoryId }}</td>
        <td>{{ product.price}}</td>
        <td>{{ product.stock}}</td>
        <td><button (click)="setProduct(product)"  (click)="openDialog()"
          type="button" class="btn btn-success">Düzenle</button></td>
      </tr>
    </tbody>
    
  </table>
    </div>
    
    
  </div>
  
</div>




<!--<th><button  (click)="openDialogg()"
          type="button" class="btn btn-success">Ürün Ekle</button></th>-->