<div class="container">
    <div class="row">
        <section class="col-3"><ul class="list-group">
            <li routerLink = "/customer/welcome"  [class]="getAllCategoryClass()" >Tüm Ürünler</li>
            <li (click)="setCurrentCategory(category)"
            routerLink = "/customer/welcome/category/{{category.id}}"
            *ngFor="let category of categories" 
            [class]="getCurrentCategoryClass(category)">
            {{category.name}}</li>
          </ul>
          
          <h5 *ngIf="currentCategory">{{currentCategory.name}} seçtiniz</h5>
          
            <button (click)="alphabeticalOrder()" class="btn btn-outline-primary">Alfabatik Sıralama</button>
            <button (click)="cheapOrding()" class="btn btn-outline-primary">Ucuzdan Pahalıya</button>
            <button (click)="expensiveOrding()" class="btn btn-outline-primary">Pahalıdan Ucuza</button>
            
          

        </section>
        
        <section class="col-9"><div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col-3" *ngFor="let product of products">
                <div class="card shadow-sm">
                  <img src="https://localhost:44306/images/{{product.path}}">
        
                    <div class="card-body">
                      <p class="card-text">{{product.name}}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">{{product.price}} TL</small>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
          <pagination [boundaryLinks]="true" [totalItems]="77"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
 
</pagination>
        </section>
    </div>
</div>